.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3ecec;
  border-radius: 8px;
  gap: 2px;
  padding: 10px;
  width: 400px;
  /* height: 150px; */
  color: #000;
  font-size: 20px;
}

.card_span {
  font-size: 18px;
  color: rgb(163, 43, 43);
}
